{% extends 'DipsycatFbSocialBundle::layout.html.twig' %}
{% block title %}
    Claim
{% endblock %}
{% block wrapper %}
    {{ parent() }}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Fb Social
            </h1>
            <h2>Comment: {{ claim.comment }}</h2>
            <h2>Date {{ claim.createdAt|date("m/d/Y") }}</h2>
            {% if  claim.photoPath is not empty %}
                <a href="{{ asset(claim.photoPath) }}" target="_blank">
                    <img src="{{ asset(claim.photoPath) }}" class="img-responsive" style="width:300px;height:300px;">
                </a>
            {% endif %}
            {{ form_start(form) }}
            <div class="form-group">
                <h2>
                    {{ form_label(form.status) }}
                </h2>
                {{ form_widget(form.status) }}
            </div>
            <div class="col-xs-1">
                <button type="button" class="form-control">Print</button>
                <button class="form-control">Save</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}
