<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        {% stylesheets 
        '@DipsycatAppBundle/Resources/public/bootstrap/dist/css/bootstrap.min.css' 
        '@DipsycatAppBundle/Resources/public/metisMenu/dist/metisMenu.min.css' 
        filter='cssrewrite' 
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link href="{{ asset('bundles/dipsycatapp/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    {% block stylesheets %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}
{% javascripts 
        '@DipsycatAppBundle/Resources/public/jquery/dist/jquery.min.js' 
        '@DipsycatAppBundle/Resources/public/bootstrap/dist/js/bootstrap.min.js' 
        '@DipsycatAppBundle/Resources/public/metisMenu/dist/metisMenu.min.js' 
        '@FOSJsRoutingBundle/Resources/public/js/router.js'    
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
